<!-- Created (David Sinchok: 12/1/2016):  -->
<!-- Updated (Adam Prater: 12/1/2016): Fixed alignment, implemented delete, removed header when no data exists-->
<!-- Updated (Andrew Fox, 12/1/2016): Changed route for delete to http delete verb. -->
<% flag = false %>
<table id="contacts" border="1">
  <tr id="t_header">
    <th>Name</th>
    <th>Comment</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% contacts.each do |contact| %>
      <% if contact.prayer.comments != '' %>
          <tr id="contact-<%= contact.id %>">
            <td><%= contact.name %></td>
            <td><textarea id="textarea" readonly><%= contact.prayer.comments %></textarea></td>
            <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
            <td><%= link_to 'Delete', "/contact/comments/#{contact.id}", :remote => true, :method => :delete, data: {confirm: 'Are you sure?'}%></td>
            <% flag = true %>
          </tr>
      <% end %>
  <% end %>
</table>
<% unless flag %>
    <script>$('#t_header').remove();</script>
    <p>There are currently no entries</p>
<% end %>